:root{
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;;
}

a{
    color: var(--bright-blue);
}

a:hover{
    text-decoration: none;
}

p{
    color: var(--desaturated-blue);
}

body{
    height: 100vh;
    background-color: var(--pale-blue);
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain ;
    display: flex;
    align-items: center;
    justify-content: center;

}

h1{
    font-weight: 900;
    margin-bottom: 15px;
    color: var(--dark-blue);
}

.plan-price p:first-child{
    font-weight: 700;
    font-size: 1rem;
    color: var(--dark-blue);
}

.container{
    max-width: 400px;
    background-color: #fff;
    border-radius: 20px;
    margin: 14px;
    box-shadow: rgba(31, 47, 86, 0.3) -4px 9px 25px -6px;
}

.asd{
    max-width: 100%;
    border-radius: 20px 20px 0 0;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
}

.plan-price-img{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.change-plan-price a{
    margin-right: 10px;
}

.change-plan-price a:hover{
    color: var(--desaturated-blue);
}

.plan-price{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
}



.change-plan-price{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    background-color: var(--very-pale-blue);
    padding: 5px 3px;
    border-radius: 10px;
}

button{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
}

.blue-btn{
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    box-shadow: rgba(31, 47, 86, 0.3) 2px 7px 29px 3px;
    transition: background-color 400ms ease;
}

.white-btn{
    background-color: transparent;
    color: var(--desaturated-blue);
}

.attribution{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}

.blue-btn:hover{
    background-color: var(--desaturated-blue);
}

@media (max-width:400px){
    body{
        background-image: url("./images/pattern-background-mobile.svg");
    }
}

